<scsimulator_config>
<config trip_file="../paraisopolis_novo/trips.xml" map_file="../paraisopolis_novo/map.xml" output_file="../output/events.xml" metro_file="../paraisopolis_novo/metro.xml" bus_file="../paraisopolis_novo/buses.xml" generate_graph="true"  simulation_time="86400"/>
</scsimulator_config>
