<scsimulator_config>
<config trip_file="../paraisopolis_sem_bus/trips.xml" map_file="../paraisopolis_sem_bus/map.xml" output_file="../paraisopolis_sem_bus/events.xml" metro_file="../paraisopolis_sem_bus/metro.xml" bus_file="../paraisopolis_sem_bus/buses.xml" generate_graph="false" simulation_time="100000"/>
</scsimulator_config>
